@import url('https://fonts.googleapis.com/css2?family=Open%20Sans&display=swap');

body {
  background-color: #333;
  color: #eee;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #eee;
  text-decoration: underline;
}

a:hover {
  color: #fff;
}

h5 {
  margin-bottom: 0;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #333;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 0.5rem;
}

.card-title {
  margin: 0;
}

.card-img {
  border-bottom: 2px solid #333;
  border-radius: 0;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.75rem 1.25rem;
}

.projects > .card, .card-filler {
  width: 500px;
}

ul {
  margin-bottom: 0;
}

ul.contributions li, ul.list-inline {
  margin-bottom: 0.25rem;
}

ul.list-skills li.list-inline-item::before {
  content: "\2218";
  margin-right: 0.25rem;
}

.social svg {
  margin-right: 0.25rem;
}

.social a {
  margin-right: 0.5rem;
}
